apiVersion: v1
kind: Pod
metadata:
  name: trivy-scan-homelabsite
  namespace: default
spec:
  restartPolicy: Never
  containers:
  - name: trivy
    image: aquasec/trivy:latest
    command:
    - trivy
    args:
    - image
    - --exit-code=1
    - --severity=HIGH,CRITICAL
    - --no-progress
    - tinorodney/pilabsite:TAG_PLACEHOLDER
